## @vtlvariable name="apduHeader" type="java.lang.String"
## @vtlvariable name="cardATR" type="java.lang.String"
## @vtlvariable name="code" type="java.util.List<java.lang.String>"
## @vtlvariable name="elapsedTime" type="java.lang.String"
## @vtlvariable name="inputDescription" type="java.lang.String[]"
## @vtlvariable name="measurements" type="java.util.Map<java.lang.String, java.util.List<java.lang.Long>>"
## @vtlvariable name="methodName" type="java.lang.String"
## @vtlvariable name="null" type="java.lang.Object"

#macro( printLine $line $trapIdx )
    #set( $trapLine = $code[$trapIdx].trim() )
    #if( $trapLine.startsWith("PM.check(PMC.") )
        #set( $trap = $trapLine.replace("PM.check(PMC.", "").replace(");", "") )
        #set( $vals = $measurements[$trap] )
        #set( $trap_warn = $vals.contains($null) )
        #set( $trap_err = $trap_warn && $vals.stream().distinct().count() > 1 )
        #set( $spaceCount = $line.length() - $line.trim().length() )
<div class="$trap trap#if( $trap_err ) trap_err #elseif( $trap_warn ) trap_warn#end">$line.substring(0, $spaceCount)<span class="trap_contents">$line.trim()</span>
</div>#else
$line
#end#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Measurements - $methodName</title>
    ## highlight.js 11+ ignores and strips HTML tags inside <code> element
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.3/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.3/highlight.min.js"></script>
    <script>hljs.highlightAll()</script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
    <style>
        #include( "template.css" )
    </style>
</head>
<body>
    <h1>$methodName</h1>
    <h3 id="graphName" class="center">Select a line to view its histogram.</h3>
    <div class="contents">
        <div class="code">
            <div class="codeHeader">
                <div>
                    <b>Card ATR:</b> #if( $cardATR == "jCardSim" ) $cardATR#else
                        <a href="https://smartcard-atr.apdu.fr/parse?ATR=$cardATR" target="_blank">$cardATR</a>
                    #end<br>
                    <b>Number of rounds:</b> $measurements.values().iterator().next().size()<br>
                    <b>APDU header:</b> $apduHeader<br>
                    #set( $inputType = $inputDescription[0] )
                    #set( $inputValue = $inputDescription[1] )
                    <b>Input $inputType:</b> #if( $inputType == "file" )<a href="$inputValue" target="_blank">$inputValue</a>#else$inputValue#end<br>
                    <b>Elapsed time:</b> $elapsedTime<br>
                    <b>Source measurements:</b> <a href="measurements.csv" target="_blank">measurements.csv</a>
                </div>
                <div class="trapSwitch">
                    <input type="checkbox" id="trapSwitch" autocomplete="off"/>
                    <label for="trapSwitch">Show explicit traps</label>
                </div>
            </div>
            <div class="codeContainer">
                <div id="heatmap"></div>
                <div id="codeWithTraps">
                    <pre><code class="language-java">#foreach( $line in $code )
                            #printLine( $line, $foreach.index )
                        #end</code></pre>
                </div>
                <div id="codeWithoutTraps">
                    ## skip TRAP lines
                    ## velocity does not have #continue
                    <pre><code class="language-java">#foreach( $line in $code )
                            #if( !$line.trim().startsWith("PM.check(PMC.") )
                                #set( $nextIndex = $foreach.index + 1 )
                                #if( $nextIndex < $code.size() )
                                    #printLine( $line, $nextIndex )
                                #else
                                    #printLine( $line, $foreach.index )
                                #end
                            #end
                        #end</code></pre>
                </div>
            </div>
            <div>
                <h3 class="center">Colour explanation</h3>
                <div class="notes">
                    <div class="note">
                        <div class="square trap_select"></div>
                        Currently selected trap
                    </div>
                    <div class="note">
                        <div class="square trap_warn"></div>
                        Trap was never reached
                    </div>
                    <div class="note">
                        <div class="square trap_err"></div>
                        Trap was reached only sometimes
                    </div>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph-sticky">
                <div id="graphHelp" class="center">
                    <p>Click on a bin to get a list of corresponding inputs.</p>
                </div>
                <div id="plotly"></div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        #parse( "template.js.vm" )
    </script>
</body>
</html>
