## @vtlvariable name="filteredMeasurements" type="java.util.Map<java.lang.String, java.util.List<java.lang.Long>>"
## @vtlvariable name="inputs" type="java.util.List<java.lang.String>"
## @vtlvariable name="measurements" type="java.util.Map<java.lang.String, java.util.List<java.lang.Long>>"
## @vtlvariable name="timeUnit" type="java.lang.String"

/*
 * MACROS
 */

#macro( object $map )
{
    #foreach( $pair in $map.entrySet() )
        $pair.getKey(): $pair.getValue()#if($foreach.hasNext),#end
    #end
}#end

/*
 * CONSTANTS
 */

const inputs = $inputs;
const filteredMeasurements = #object( $filteredMeasurements );
const measurements = #object( $measurements );

const histogramCommon = {
    type: 'histogram',
    xaxis: 'x2',
    yaxis: 'y1',
    showlegend: true,
    hovertemplate: "Bin: %{x}<br>Count: %{y}<extra></extra>"
};

const scatterCommon = {
    type: 'scatter',
    xaxis: 'x3',
    yaxis: 'y2',
    name: 'timediff',
    showlegend: false,
    marker: {
        color: 'rgb(86, 189, 49)',
        opacity: 0.75
    },
    hovertemplate: "Round: %{x}<br>Time: %{y} $timeUnit<extra></extra>"
};

const layoutCommon = {
    bargap: 0.2,
    height: 700,
    margin: {
        l: 60,
        r: 40,
        b: 40,
        t: 40,
        pad: 5
    },
    xaxis1: {
        anchor: 'y1',
        title: 'Unreachable'
    },
    xaxis2: {
        anchor: 'y1',
        // dtick: 1,
        tickformat: ',d',
        title: 'Time in $timeUnit'
    },
    xaxis3: {
        anchor: 'y2',
        domain: [0, 1],
        tickformat: ',d',
        title: 'Round'
    },
    yaxis1: {
        anchor: 'x1',
        domain: [0.55, 1],
        title: 'Frequency'
        // type: 'log',
    },
    yaxis2: {
        anchor: 'x3',
        domain: [0, 0.43],
        title: 'Time in $timeUnit'
    }
};

/*
 * FUNCTIONS
 */

function toggleTraps(event) {
    const divWith = document.getElementById('codeWithTraps');
    const divWithout = document.getElementById('codeWithoutTraps');

    if (event.currentTarget.checked) {
        divWith.style.display = 'initial';
        divWithout.style.display = 'none';
    } else {
        divWith.style.display = 'none';
        divWithout.style.display = 'initial';
    }
}

function redrawGraph(evt) {
    // enable graph help
    document.getElementById('graphHelp').style.display = 'initial';

    // attribute with trap name is always the first
    const trapName = evt.currentTarget.classList[0];

    // update highlight of the selected trap
    document.querySelectorAll('.trap_select').forEach(t => t.classList.remove('trap_select'));
    selectedTraps = document.querySelectorAll('.' + trapName + ' .trap_contents');
    selectedTraps.forEach(t => t.classList.add('trap_select'));

    // update trap title
    document.getElementById('graphName').textContent = trapName;

    const vals = measurements[trapName];
    const traces = [];

    // bar graph visualising number of unreachable rounds
    const hasUnreach = vals.includes(null);
    if (hasUnreach) {
        const y = vals.filter(e => e === null).length;
        traces.push({
            x: [''],
            y: [y],
            type: 'bar',
            xaxis: 'x1',
            yaxis: 'y1',
            name: 'unreachable',
            showlegend: false,
            marker: {
                color: 'rgb(255, 0, 0)',
                opacity: 0.65
            },
            hovertemplate: "Unreachable<br>Count: %{y} (%{y}/" + vals.length + ")<extra></extra>"
        });
    }

    const hasTime = vals.some(e => e !== null);
    if (hasTime) {
        // Histograms
        traces.push({
            ...histogramCommon,
            x: vals,
            name: 'with outliers',
            visible: 'legendonly',
            marker: {
                color: 'rgb(255,136,0)',
                opacity: 0.75
            }
        }, {
            ...histogramCommon,
            x: filteredMeasurements[trapName],
            name: 'without outliers',
            marker: {
                color: 'rgb(49, 130, 189)',
                opacity: 0.75
            }
        });

        // Line graph

        // make dots only on line endings
        const dot_x = [], dot_y = [];
        for (let i = 0; i < vals.length; i++) {
            // no value
            if (vals[i] === null)
                continue;

            // both neighbouring values are defined or only one is defined on border values
            if (vals.length > 1 &&
                (i === 0 || vals[i - 1] !== null) && (i === vals.length - 1 || vals[i + 1] != null))
                continue;

            dot_x.push(i + 1);
            dot_y.push(vals[i]);
        }

        traces.push({
            ...scatterCommon,
            x: dot_x,
            y: dot_y,
            mode: 'markers'
        }, {
            ...scatterCommon,
            x: [...Array(vals.length + 1).keys()].splice(1),
            y: vals,
            mode: 'lines'
        });
    }

    // WARNING: Layout and config must be passed directly!  Otherwise, sometimes the graph may fail to load.
    Plotly.react('plotly', traces, {
        ...layoutCommon,
        xaxis1: {
            ...layoutCommon.xaxis1,
            domain: [0, hasTime ? 0.45 : 1]
        },
        xaxis2: {
            ...layoutCommon.xaxis2,
            domain: [hasUnreach ? 0.55 : 0, 1]
        }
    }, {
        responsive: true
    });

    // set click event handler
    const plotlyDiv = document.getElementById('plotly');

    // replace the event handler
    plotlyDiv.removeAllListeners('plotly_click');
    plotlyDiv.on('plotly_click', function (data) {
        const graph = data.points[0];
        let msg, selectedInputs;

        switch (graph.data.type) {
            // line graph
            case 'scatter':
                selectedInputs = [inputs[graph.x]];
                msg = 'Round: ' + graph.x + '\n';
                break;
            case 'histogram':
                selectedInputs = graph.pointIndices.map(e => inputs[e]);

                // Rather hack-ish and not very efficient but the input object does not contain the %{x}
                // value from hoverstrings.
                const binValues = graph.pointIndices.map(e => vals[e]);
                msg = 'Bin: ' + Math.min(...binValues) + ' to ' + Math.max(...binValues) + '\n';
                break;
            case 'bar':
                selectedInputs = vals.reduce((res, e, i) => {
                    if (e === null)
                        res.push(inputs[i]);
                    return res;
                }, []);
                console.assert(selectedInputs.length === graph.y);

                msg = 'Unreachable\n';
                break;
            default:
                return;
        }

        msg += 'Inputs:\n';

        const sortedInputs = Array.from(new Set(selectedInputs)).sort();
        sortedInputs.forEach(e => msg += e + '\n');

        alert(msg);
    });
}

window.addEventListener('load', _ => {
    document.getElementById('trapSwitch').addEventListener('change', toggleTraps);
    document.querySelectorAll('.trap').forEach(elem => elem.addEventListener('click', evt => redrawGraph(evt)));
});
