---
name: Java CI with Gradle

on:
  push:
    branches: [devel, main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 10 * * 1'

jobs:
  build:
    name: ${{ matrix.name }} with JDK ${{ matrix.jdk }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        jdk: [8, 11, 17, 19]
        include:
          - os: macos-latest
            name: macOS
          - os: ubuntu-latest
            name: Ubuntu
          - os: windows-latest
            name: Windows

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v3
        with:
          java-version: '${{ matrix.jdk }}'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Execute profiling tests (stats)
        run: python3 tests/run.py --mode stats

      - name: Execute profiling tests (memory)
        run: python3 tests/run.py --mode memory --ci

      - name: Execute profiling tests (time)
        run: python3 tests/run.py --mode time --ci
